@import "../../less/core";

.Button {
    display: inline-block;
    background-color: @color-primary;

    .border-radius();
    .user-select();

    padding: @space-small @space-medium;

    &:hover {
        background-color: @color-primary-light;
        border-color: @color-primary-light;
    }

    &--nav {

        padding: 0;
        border-radius: 0;

        font-size: @font-size-medium;

        border-bottom: 4px solid @color-primary;
        &:hover {
            border-color: @color-primary-light;
        }
    }
    
    font-size: @font-size-small;
    cursor: pointer;
    text-align: center;
}

.Button--selected, .Button--selected:hover {
    border-bottom: 4px solid @color-primary-dark;
}