
.File {

    &-arrowColumn {
        width: 20px;
        vertical-align: top;
        display: inline-block;
        height: 100%;
    }

    &-nameColumn {
        display: inline-block;
        height: 100%;

        &--dir {
            border-left: 1px solid black;
        }
    }

    &-child {
        display: none;
        &--open {
            display: block;
        }
    }

}

.FileViewer {

}